@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.text-secondary {
  color: #e89b4c;
}
.bg-secondary {
  background-color: #e89b4c;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #041722;
  opacity: 0.70;
}
